{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ url_for('index') }}">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ url_for('images.image_list') }}">Containers</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ container }}
</li>
{% endblock %}

{% block view_title %}
Container: {{ container }}
{% endblock %}

{% block content %}
<p>image: <a href="{{ url_for('images.image_detail', short_id=container.image_id) }}">{{ container.image }}</a>
{% endblock %}
