{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ url_for('index') }}">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ url_for('images.image_list') }}">Containers</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ container }}
</li>
{% endblock %}

{% block view_title %}
Container: {{ container }}
{% endblock %}

{% block content %}
<ul>
    <li>
        <a href="{{ url_for('containers.container_kill', short_id=container.short_id)}}">kill container</a>
    </li>
</ul>

<h3>Image</h3>
<p>
    <a href="{{ url_for('images.image_detail', short_id=container.image.short_id)}}">{{ container.image }}</a>
</p>

<h3>Environment</h3>
<table class="table">
    {% for line in container.attrs.Config.Env %}
    <tr>
        <td>{{ line.split('=', 1)[0] }}</td>
        <td><tt>{{ line.split('=', 1)[-1] }}</tt></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
