{% extends "base.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ url_for('index') }}">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ url_for('images.image_list') }}">Images</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ image }}
</li>
{% endblock %}

{% block view_title %}
Image: {{ image }}
{% endblock %}

{% block content %}
<h3>Containers using this image</h3>
<ul>
    {% for container in image.containers %}
    <li>
        <a href="{{ url_for('containers.container_detail', short_id=container.short_id) }}">{{ container }}</a>
    </li>
    {% endfor %}
</ul>

<h3>Basic config</h3>
<table class="table">
    <tr>
        <td>Entrypoint</td>
        <td><tt>{{ image.attrs.Config.Entrypoint }}</tt></td>
    </tr>
    <tr>
        <td>WorkingDir</td>
        <td><tt>{{ image.attrs.Config.WorkingDir }}</tt></td>
    </tr>
</table>

<h3>Environment</h3>
<table class="table">
    {% for line in image.attrs.Config.Env %}
    <tr>
        <td>{{ line.split('=', 1)[0] }}</td>
        <td><tt>{{ line.split('=', 1)[-1] }}</tt></td>
    </tr>
    {% endfor %}
</table>

<h3>Volumes</h3>
{{ image.attrs.Config.Volumes }}

{% endblock content %}
