{% extends "base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Images</li>
    </ol>
</nav>
{% endblock %}

{% block view_title %}
Images
{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th>image</th>
        <th>id</th>
    </tr>
    {% for image in images %}
    <tr>
        <td>
            {{ image }}
        </td>
        <td>
            <a href="{{ url_for('images.image_detail', short_id=image.short_id) }}">{{ image.short_id }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
